.login{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login img{
    margin: 30px auto;
    object-fit: contain;
    width: 100px;
    margin-bottom: 3px;
}
.login img:hover{
    border: 1px solid white;
    border-radius: 3px;
    transition: 0.5s ease-in-out;
}
.login_container{
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(5, 193, 250, 0.2);
}
.login_container:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0.2, 0.4);
}
.login_container h1{
    font-size: 25px;
    margin: 20px 0;
}
.login_container form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.login_container form div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.login_container form input{
    margin-bottom: 10px;
    padding: 8px 16px;
    background-color: #fff;
    width: 100%;
    border: none;
    border: 1px solid gray;
    border-radius: 3px;
    /* box-sizing: border-box; this don't left in box which inner part of box or form  */
}
.login_container form input:focus{
    outline: 2px solid skyblue; 
    /* inner border like outer border(border) */
}
.btn{
    border: none;
    background: #f0c14b;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
}
.btn:hover{
    background: #ecfd02;
}
.login_container p{
    padding: 10px 0px;
    font-size: 14px;
}
.login_btn{
    border: none;
    background: #f0c14b;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
}
.login_btn:hover{
    background-color: lightgray;
}
.error{
    color: red;
    font-size: 15px;
    font-family: serif;
}