*{
    padding: 0;
    margin: 0;
}
.fixed{
    position: sticky;
    top: 0;
    z-index: 100;
}
.header_container{
    background-color: #1a1a1a;
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    height: 90px;
    
    /* padding-bottom: 10px; */
    /* padding-right: 10px; */
}
.logo_container{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 250px;
}
.logo_container img{
    width: 80%;
    padding-top: 5px;
    margin-left: 20px;
    vertical-align: middle;
}
.delivery{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    padding: 5px;
}
.delivery p{
    font-size: 13px;
    margin-bottom: 2pxpx;
}
.delivery span{
   /* font-size: 15px; */
   font-weight: bold;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    width: 10%;
    flex: 1;
    background-color: #fff;
    /* margin-right: 30px; */
}
.search select,.search input{
    padding: 20px;
    font-weight: bold;
    outline: 1px solid white;
}
.search select{
    border: none;
}
.search input{
    border: 1px solid white;
    width: 85%;
    /* background-color: #f90404; */
    /* margin-right: -2px; */
}
.search svg{
    padding: 15px;
    background: #febd69;
    color: #1a1a1a;
    cursor: pointer;
    height: 100%;
    width: 58px;
   
}
.search svg:hover{
    background-color: #d49644;
}
.search:focus-within{
    border: 2px solid rgb(235, 161, 173);
}
.order_container{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 450px;
    gap: 10px;
    padding-left: 20px;
    /* background-color: #fff; */

}
.order_container a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.order_container p{
    font-size: 10px;
}
.language{
    width: 100%;
    display: flex;
    /* padding: 30px; */
    margin-right: 60px;
    /* background-color: #33f30c; */
}
.language select{
    background-color: #1a1a1a;
    border: none;
    color: white;
}
.language img{
    width: 50%;
}
.sign span {
   font-size: 17px;
   font-weight: bold;
   font-style: italic;

}
.sign{
    margin-left: -25px;
    padding-left: 40px;
    margin-right: 30px;
    width: 90%;
}
.sign p{
  font-size: 15px;
  margin-bottom: 0px;
 font-weight: 400;

}
.sign span,small{
   font-style: italic;
   font-size: 17px;
   margin-bottom: 0px;
   margin-top: 0px;
}
.return {
    margin-right: 20px;
    font-weight: bold;
    font-size: 20px;
}
.return p{
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 300;
}
.cart{
    position: relative;
    margin-right: 6px;
}
.cart span{
    position: relative;
    font-weight: bold;
    top: -55px;
    font-size: 20px;
    /* background-color: #1a1a1a; */
    left: 16px;
    color: orange;

}
.cart svg{
    justify-content: center;
    margin-top: 30px;
}
.order_container a:hover, .delivery a:hover, .logo_container a:hover, .logo_container ul li:hover{
    border: 1px solid white;
    border-radius: 3px;
    transition: 0.5s ease-in-out;
}

.lower_container{
    background-color: #232f3e;
    color: #fff;
    /* margin-top: -16px; */
    /* top: -2; */
   
}
.lower_container ul{
    display: flex;
    list-style: none;
    gap: 5px;
}
.lower_container ul li:not(:first-child){
    padding: 8px;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    margin-top: 13px;
    margin-left: 13px;
    cursor: pointer;

}
.lower_container ul li:first-child{
    display: flex;
    gap: 2px;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

/* @media screen and (max-width:576px){
    .header_container{
        display: flex;
        flex-direction: column important;
        height: auto;
    }
    .lower_container ul li:not(:first-child){
        display: none;
       
    }
    .language{
        display: none;
    }
} */

/* 18:00 */
.mobile_menu_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}
.mobile_menu {
  width: 280px;
  height: 100%;
  background-color: #ffffff;
  color: #000;
  padding: 16px;
  animation: slideIn 0.3s ease forwards;
}
@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.mobile_menu_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.mobile_menu_header h3 {
  font-size: 16px;
  font-weight: bold;
}

.mobile_menu_header button {
  background: none;
  border: none;
  cursor: pointer;
}
.mobile_menu ul {
  list-style: none;
  padding: 0;
}

.mobile_menu ul li {
  padding: 12px 0;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  cursor: pointer;
}

@media screen and (max-width: 576px) {

  /* Header layout */
  .header_container {
    flex-direction: column !important;
    height: auto;
    padding: 10px 0;
  }

  /* Hide location */
  .delivery {
    display: none;
  }

  /* Hide language */
  .language {
    display: none;
  }

  /* Logo center */
  .logo_container {
    justify-content: center;
    max-width: 100%;
  }

  .logo_container img {
    margin-left: 0;
    width: 120px;
  }

  /* Search full width */
  .search {
    width: 95%;
    margin: 8px 0;
  }

  .search input {
    width: 100%;
  }

  /* Order container */
  .order_container {
    width: 100%;
    justify-content: space-between;
    padding: 0 10px;
  }

  /* Hide lower header items except menu */
  .lower_container ul li:not(:first-child) {
    display: none;
  }
  .cart span {
    position: absolute;
    top: 11px;
  
    font-size: 14px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
 /* Hide desktop menu items */
  .lower_container ul li:not(:first-child) {
    display: none;
  }

  /* Improve menu icon tap area */
  .lower_container ul li:first-child {
    padding: 10px;
  }
}
@media screen and (min-width: 577px) {
  .mobile_menu_overlay {
    display: none;
  }
}
@media screen and (min-width: 576px) and (max-width: 990px) {

  /* Header stays horizontal */
  .header_container {
    flex-wrap: nowrap;
    height: 80px;
    padding: 0 10px;
  }

  /* Hide delivery location */
  .delivery {
    display: none;
  }

  /* Hide language selector */
  .language {
    display: none;
  }

  /* Logo sizing */
  .logo_container {
    max-width: 160px;
  }

  .logo_container img {
    width: 100%;
    margin-left: 10px;
  }

  /* Search takes priority */
  .search {
    flex: 1;
    min-width: 280px;
    margin: 0 10px;
  }

  .search input {
    width: 100%;
  }

  /* Right side container */
  .order_container {
    max-width: 320px;
    gap: 6px;
    padding-left: 0;
  }

  /* Reduce text sizes */
  .sign p,
  .return p {
    font-size: 12px;
  }

  .sign span,
  .return span {
    font-size: 14px;
  }

  /* Cart spacing */
  .cart svg {
    margin-top: 0;
  }
  .cart span {
    position: absolute;
    top: -11px;

    font-size: 14px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
}
